<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Chef</title>

    <meta property="og:image" content="/og-preview.png" />
   <script type="module" crossorigin src="/static/hometracker/assets/index-4m9Jdr4o.js"></script>
<link rel="stylesheet" crossorigin href="/static/hometracker/assets/index-BbFbp3Me.css">

  </head>
  <body>
    <div id="root"></div>
    <a href="/studentdashboard" class="fixed bottom-4 right-4 bg-green-600 text-white px-4 py-2 rounded-full shadow-lg hover:bg-green-700 transition duration-300">
      Go to Student Dashboard
    </a>
  </body>
</html>
